{% extends "PicklAppBundle::layout.html.twig" %}

{% block title %}{{ parent() }} – Start a campaign{% endblock %}

{% block body %}


    <div id="navtwo">
        <div id="navprofil">
            <h1>NEW PROJECT ?</h1>
            <div class="sep"></div>
        </div>
        <ul>
            <li><a href="{{ path('pickl_app_how_it_works') }}" target="_blank">HOW IT WORKS</a></li>
            <li class="activ"><a href="#">SUMMARY</a></li>
            <li><a href="#basic">1. BASIC INFORMATIONS</a></li>
            <li><a href="#pitch">2. PITCH</a></li>
            <li><a href="#category">3. CATEGORY</a></li>
            <li><a href="#counterparts">4. GIFTS</a></li>
            <li><a href="#published">5. PUBLISH</a></li>
        </ul>
    </div>

    {{ include("PicklAppBundle:Project:projectForm.html.twig") }}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ asset('js/formCounterparts.js') }}"></script>
{% endblock %}

{% block sponsors %}
    <div id="sponsorscontent">
    </div>

    <div id="create">
        <a href="#">GO, SUBMIT MY PROJECT !</a>
    </div>
    <script>
        $(document).ready(function() {
            $('#create a').click(function(e){
                e.preventDefault();
                $('#formaddproject').submit();
            });
        });
    </script>
{% endblock %}